body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
}

h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

div {
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
}

dialog {
    border: none;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="button"] {
    background-color: #008CBA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 10px 0;
}

input[type="button"]:hover {
    background-color: #007bb5;
}

h1#result, h1#resultsub, h1#resultmult, h1#resultdiv, h1#resultexp {
    font-size: 1.5rem;
    color: #333;
    margin-top: 20px;
    font-weight: bold;
}

button[onclick] {
    background-color: #f44336;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

button[onclick]:hover {
    background-color: #ad0c00;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}